* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

/* Smooth gradient background system */
.bg-layer {
  position: fixed;
  inset: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
}

.bg-layer.active {
  opacity: 1;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
}

.info {
  width: 45%;
  color: white;
}

.info h1 {
  font-size: 52px;
  margin-bottom: 20px;
}

.info p {
  font-size: 30px;
  opacity: 0.9;
}

/* Buttons */
.controls {
  margin-top: 40px;
}

.controls button {
  padding: 14px 30px;
  margin-right: 15px;
  font-size: 18px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  background: white;
  color: black;
}

/* Image */
.image-wrapper {
  width: 45%;
  position: relative;
  height: 420px;
}

.image-wrapper img {
  position: absolute;
  width: 100%;
  border-radius: 25px;

}

/* ===== IMAGE ROTATIONS ===== */

/* NEXT */
.exit-next {
  animation: exitNext 0.9s ease forwards;
}
.enter-next {
  animation: enterNext 0.9s ease forwards;
}

/* PREV */
.exit-prev {
  animation: exitPrev 0.9s ease forwards;
}
.enter-prev {
  animation: enterPrev 0.9s ease forwards;
}

@keyframes exitNext {
  to {
    opacity: 0;
    transform: translate(220px, 220px) rotate(45deg);
  }
}

@keyframes enterNext {
  from {
    opacity: 0;
    transform: translate(-220px, 220px) rotate(-45deg);
  }
  to {
    opacity: 1;
    transform: translate(0, 0) rotate(0);
  }
}

@keyframes exitPrev {
  to {
    opacity: 0;
    transform: translate(-220px, 220px) rotate(-45deg);
  }
}

@keyframes enterPrev {
  from {
    opacity: 0;
    transform: translate(220px, 220px) rotate(45deg);
  }
  to {
    opacity: 1;
    transform: translate(0, 0) rotate(0);
  }
}

/* ===== TEXT ANIMATION ===== */

.text-next {
  animation: textFromBottom 0.6s ease forwards;
}

.text-prev {
  animation: textFromBottom 0.6s ease forwards;
}

@keyframes textFromBottom {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.logo img {
  height: 80px; /* Adjust size as needed */
  width: auto;
  display: block;
}